.card {
	z-index: 10;

	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;

	width: 340px;
	padding: 30px 30px 50px 30px;

	border-radius: 20px;
	background: rgba(26, 26, 26, 0.7);

	gap: 30px;
	@include phone() {
		width: auto;
	}
	&.center {
		align-items: center;
		.topic {
			text-align: center;
		}
	}
	.num {
		color: var(--main, #6fffe5);

		font-family: Montserrat;
		font-size: 40px;
		font-weight: 500;
		font-style: italic;
		line-height: normal;

		// leading-trim: both;
		// text-edge: cap;
	}
	.desc {
		text-align: left;

		color: #ffffff;

		font-family: Montserrat;
		font-size: 16px;
		font-weight: 400;
		font-style: normal;
		line-height: 180%; /* 28.8px */
	}
	.topic {
		flex: 1 1;

		text-align: left;

		color: var(--main, #6fffe5);

		font-family: Montserrat;
		font-size: 18px;
		font-weight: 600;
		font-style: normal;
		line-height: 150%; /* 27px */

		// leading-trim: both;
		// text-edge: cap;
	}
	.prompt {
		text-align: center;
		letter-spacing: 1.2px;

		background: linear-gradient(135deg, #fff64a 0%, #6dd1c2 44.27%, #007362 100%);
		-webkit-background-clip: text;
		background-clip: text;

		font-family: Montserrat;
		font-weight: 600;
		font-style: normal;
		line-height: 140%; /* 28px */

		@include web() {
			font-size: 20px;
		}
		@include phone() {
			padding: 0 20px;

			font-size: 18px;
		}
		-webkit-text-fill-color: transparent;
	}
}
